<div class="container mt-5">
    <h3 class="text-center">รายชื่อสมาชิกในกลุ่ม</h3>
    <table class="table table-striped mt-4">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">รหัสนักศึกษา</th>
                <th scope="col">ชื่อ</th>
                <th scope="col">นามสกุล</th>
                <th scope="col">ชื่อเล่น</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>6021207030</td>
                <td>ภูริณัฐ</td>
                <td>สินสมบัติ</td>
                <td>ภูมิ</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>6021207035</td>
                <td>ณรงค์กร</td>
                <td>นิ่มจริญ</td>
                <td>กร</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>6121207003</td>
                <td>วิมล</td>
                <td>ชมชื่น</td>
                <td>มิ้นท์</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>6021207001</td>
                <td>ธีรนาถ</td>
                <td>สื่อเฉย</td>
                <td>แก้ว</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>6021207005</td>
                <td>อรุณี</td>
                <td>เผ่าทัพ</td>
                <td>เอิร์น</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>6021207015</td>
                <td>กชมล</td>
                <td>เชื้อวงศ์พรหม</td>
                <td>จอย</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>6021207038</td>
                <td>อมรดา</td>
                <td>ญาติอยู่พร้อม</td>
                <td>ส้ม</td>
            </tr>
        </tbody>
    </table>
</div>